.header{
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;

    background-color: #000000;
    opacity: .3;
}
.planer {
    position: absolute;
    width: 200px;
    height: 20px;
    top: 20px;
    padding-left: 3%;

    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #e9e9e9;
}
.home{
    position: absolute;
    width: 50px;
    height: 20px;
    top: 30px;
    left: 800px;
    text-decoration: none;

    font-family: Nunito Sans, sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    color: #e2e3e5;
}
.home:hover{
    color: #000000;
}
.account{
    position: absolute;
    width: 100px;
    height: 20px;
    top: 30px;
    left: 950px;
    text-decoration: none;

    font-family: Nunito Sans, sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    color: #e2e3e5;
}
.account:hover{
    color:#000000;
}
.login{
    position: absolute;
    width: 50px;
    height: 20px;
    top: 30px;
    left: 1110px;
    text-decoration: none;

    font-family: Nunito Sans, sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    color: #e2e3e5;
}
.login:hover{
    color: #000000;
}
.faq{
    position: absolute;
    width: 50px;
    height: 20px;
    top: 30px;
    left: 1240px;
    text-decoration: none;

    font-family: Nunito Sans, sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    color: #e2e3e5;
}
.faq:hover{
    color: #000000;
}
.bgIm{
    position: absolute;
    width: 100%;
    height: 825px;
    left: 0px;
    top: 0px;
}
.centralBlock{
    position: absolute;
    width: 700px;
    height: 400px;
    top: 200px;
    left: 370px;
    border-radius: 10px;

    background: #fffaf1;
    opacity: .9;
}
.firstBlock{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 125px;
    top: 75px;
    border-radius: 25px;
    background: #d3d3d3;
    opacity: 1;
}
.firstBlock:hover{
    background: #b98249;
}
.create{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 15px;
    left: 33px;
}
.scratch{
    position: absolute;
    width: 170px;
    height: 20px;
    top: 100px;
    left: 15px;

    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: #1b1e21;
}
.createYouPlanning{
    position: absolute;
    width: 300px;
    height: 20px;
    top: 250px;
    left: 100px;

    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #1b1e21;
    opacity: .5;
}
.secondBlock{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 425px;
    top: 75px;
    border-radius: 25px;

    background: #d3d3d3;
    opacity: 1;
}
.secondBlock:hover{
    background-color: #b98249;
}
.pattern{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 15px;
    left: 33px;
}
.patterns{
    position: absolute;
    width: 50px;
    height: 20px;
    top: 100px;
    left: 50px;

    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: #1b1e21;
}
.selectPatterns{
    position: absolute;
    width: 300px;
    height: 20px;
    top: 250px;
    left: 435px;

    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #1b1e21;
    opacity: .5;
}
